<!DOCTYPE html>
<html>
	<!-- header -->
	<title>Project 2</title>
	<meta charset="UTF-8">
	<!-- CSS -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
	<style>
	body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
	.w3-bar-block .w3-bar-item {padding:20px}
	</style>
	<!-- Bootstrap -->
	<body>

		<!-- Sidebar (hidden by default) -->
		<nav class="w3-sidebar w3-bar-block w3-card w3-top w3-xlarge w3-animate-left" style="display:none;z-index:2;width:40%;min-width:300px" id="mySidebar">
		  <a href="javascript:void(0)" onclick="w3_close()"
		  class="w3-bar-item w3-button"><h1>Close Menu</h1></a>
		  <a href="{{url_for('index')}}" onclick="w3_close()" class="w3-bar-item w3-button">Home</a>
		  <a href="{{url_for('about')}}" onclick="w3_close()" class="w3-bar-item w3-button">About</a>
		  <a href="{{url_for('books', page_num=1)}}" onclick="w3_close()" class="w3-bar-item w3-button">Books</a>
		  <a href="{{url_for('authors', page_num=1)}}" onclick="w3_close()" class="w3-bar-item w3-button">Authors</a>
		  <a href="{{url_for('publishers', page_num=1)}}" onclick="w3_close()" class="w3-bar-item w3-button">Publishers</a>
		</nav>

		<!-- Top menu -->
		<div class="w3-top">
		  <div class="w3-light-grey w3-xlarge" style="max-width:100%;margin:auto">
			<div class="w3-container w3-button w3-padding-16 w3-left" onclick="w3_open()">☰</div>
			<div class="w3-container w3-right w3-padding-16">By Group 1</div>
			<div class="w3-padding-16">About</div>
		  </div>
		</div>
		  
		<!-- About Section -->
		<div class="w3-container w3-padding-32 w3-center">  		  
			
		<!-- !PAGE CONTENT! -->
		<div class="w3-main w3-content w3-padding" style="max-width:100%;margin-top:100px">

		  <!-- First Photo Grid-->
		  <div class="w3-row-padding w3-padding-16 w3-center" id="food">
			<div class="w3-quarter">
              <img src="{{url_for('static', filename='images/Khalid.JPG')}}" alt="Khalid" style='height:300px' class="w3-round">
			  <h3>Khalid Alkhatib</h3>
			  <p>Hello! I am majoring in Economics as well as the CS certificate. I am from Dallas, Texas and a big sports fan. Basketball, soccer, football, you name it. I also like playing these sports as well, I also enjoy watching YouTube and colleting sneakers.</p>
			 	<table style="width:100%"> 
					<tr>  
		  			<td><h4>Responsibilities: About Page, Unit tests, and JSON</h4> </td> 
					</tr>
					<tr>
					<td><h4>Number of Commits: 17</h4></td> 
					</tr>
					<tr>  
		  			<td><h4>Number of Issues: 10</h4></td> 
					</tr>
					<tr>
					<td><h4>Number of Unit test: 2</h4></td> 
					</tr>
				</table>
			</div>
			<div class="w3-quarter">
              <img src="{{url_for('static', filename='images/joann.jpg')}}" alt="Joann" style='height:300px' class="w3-round">
			  <h3>Joann Ching</h3>
			  <p>My name is Joann Ching, I'm majoring in Music performance and also doing the CS certificate. I am from Taiwan, but I really enjoyed my time in Austin! Although I spend most of my time in practice rooms practicing but I like many other things! Sports, hiking, movies, music... etc. Basically anything!</p>
			  	<table style="width:100%"> 
					<tr>  
		  			<td><h4>Responsibilities: Python/other coding needs, JSON, and Paper</h4> </td> 
					</tr>
					<tr>
					<td><h4>Number of Commits: 4</h4></td> 
					</tr>
					<tr>  
		  			<td><h4>Number of Issues: 6</h4></td> 
					</tr>
					<tr>
					<td><h4>Number of Unit test: 2</h4></td> 
					</tr> 
					</tr>
				</table>
			</div>
			<div class="w3-quarter">
              <img src="{{url_for('static', filename='images/lisa.JPG')}}" alt="Lisa" style='height:300px' class="w3-round">
			  <h3>Lisa Li</h3>
			  <p>Hello, my name is Lisa. I am a junior at UT Austin, majoring in Petroleum Engineering and minoring in CS. I am from a suburb of Houston, and I have lived for most of my life. I love traveling and trying out new things.</p>
			  <table style="width:100%"> 
					<tr>  
		  			<td><h4>Responsibilities: HTML Pages and GCP</h4> </td> 
					</tr>
					<tr>
					<td><h4>Number of Commits: 49</h4></td> 
					</tr>
					<tr>  
		  			<td><h4>Number of Issues: 6</h4></td> 
					</tr>
					<tr>
					<td><h4>Number of Unit test: 1</h4></td> 
					</tr> 
					</tr>
				</table>
			</div>
			<div class="w3-quarter">
              <img src="{{url_for('static', filename='images/zeba.jpg')}}" alt="Zeba" style='height:300px' class="w3-round">
			  <h3>Zeba Pathan</h3>
			  <p>My name is Zeba Pathan, and I’m about to go into my senior year at UT as an Economics major. Along with majoring in Economics, I’m also completing a minor in business and doing the elements of computing certificate. Even though I was born in Boulder, Colorado, I’ve lived in Austin for my whole life. I have two younger sisters and one younger brother. In my free time, I like playing the piano and spending time with my closest friends.</p>
			  <table style="width:100%"> 
					<tr>  
		  			<td><h4>Responsibilities: Database, JSON, and Paper</h4> </td> 
					</tr>
					<tr>
					<td><h4>Number of Commits: 0</h4></td> 
					</tr>
					<tr>  
		  			<td><h4>Number of Issues: 8</h4></td> 
					</tr>
					<tr>
					<td><h4>Number of Unit test: 4</h4></td> 
					</tr> 
					</tr>
				</table>
			</div>
			</div>
		  </div>
		
		<hr>
		<br><p>We are located at: </p>
		<div id="map_canvas" style="top: 10px; left: 25px; width:1180px; height:220px; float: left" class="w3-center"></div>
		<br><br><br><br><br><br><br><br><br><br><hr>
		  <!-- Footer -->
		  <footer class="w3-row-padding w3-padding-32">
			<div class="w3-col">
			  <h1>Stats</h1>
			  <table style="width:100%"> 
					<tr>  
						<td><h2 style="color:purple;">Total Number of Commits: 70</h2></td>  
			  			<td><h2 style="color:purple;">Total Number of Issues: 30</h2></td> 
						<td><h2 style="color:purple;">Total Number of Unit test: 9</h2></td>
					</tr>
					<tr>
						<td style="padding:30px"><a href="https://gitlab.com/lisa8633/cs329e-idb-gcp/issues"><h3 style="color:orange;">GitLab Issue Tracker</h3></a></td>
						<td style="padding:30px"><a href="https://gitlab.com/lisa8633/cs329e-idb-gcp"><h3 style="color:orange;">GitLab Repo</h3></a></td>
						<td style="padding:30px"><a href="https://gitlab.com/lisa8633/cs329e-idb-gcp/wikis/Project-2-Group-%231-(Lisa-Li,-Joann-Ching,-Zeba-Pathan,-Khalid-Alkhatib)"><h3 style="color:orange;">GitLab Wiki</h3></a></td>
				</table>
			</div>
			
			<div class="w3-col w3-serif">
			  <h1>Data Sources</h1>
			  <p>
				<span class="w3-tag w3-black w3-margin-bottom"><a href="https://www.cs.utexas.edu/users/fares/cs329esummer19/CS%20373_files/tutorials/books.json">Books</a></span>
			  </p>
			</div>

			<div class="">
			  <h1>Tools Used</h1>
			  <ul class="w3-ul w3-hoverable">
				<li class="w3-padding-16">
                  <img src="{{url_for('static', filename='images/gitlab.png')}}" class="w3-center w3-margin-right" style="width:50px">
				  <span class="w3-large">GitLab</span>
				</li>
				<li class="w3-padding-16">
                  <img src="{{url_for('static', filename='images/w3.png')}}" class="w3-center w3-margin-right" style="width:50px">
				  <span class="w3-large">W3Schools</span>
				</li> 
			  </ul>
			</div>

		  </footer>

		<!-- End page content -->
		</div>

		<script>
		function initMap() {
		  // The location of Uluru
			var latlng = new google.maps.LatLng(30.286595, -97.734131);
			var myOptions = {
				zoom: 15,
				center: latlng,
				mapTypeId: google.maps.MapTypeId.ROADMAP
			};

			var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
			var myMarker = new google.maps.Marker(
			{
				position: latlng,
				map: map,
				title:"School"
		   });


		}
		// Script to open and close sidebar
		function w3_open() {
		  document.getElementById("mySidebar").style.display = "block";
		}
		 
		function w3_close() {
		  document.getElementById("mySidebar").style.display = "none";
		}
		google.maps.event.addDomListener(window, 'load', initialize);
		</script>
		<script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCm02uacGytoZerJ54CyqirQ7JmlCJGzzg&callback=initMap">
		</script>

	</body>
</html>
