<!DOCTYPE html>
<html>
	<!-- header -->
	<head>
	<title>Project 2</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
	<!-- CSS -->
	<style>
	body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
	.w3-bar-block .w3-bar-item {padding:20px}
	</style>
	</head>
	<body>
		<!-- Bootstrap-->
		<!-- Sidebar (hidden by default) -->
		<nav class="w3-sidebar w3-bar-block w3-card w3-top w3-xlarge w3-animate-left" style="display:none;z-index:2;width:40%;min-width:300px" id="mySidebar">
		  <a href="javascript:void(0)" onclick="w3_close()"
		  class="w3-bar-item w3-button"><h1>Close Menu</h1></a>
		  <a href="{{url_for('index')}}" onclick="w3_close()" class="w3-bar-item w3-button">Home</a>
		  <a href="{{url_for('about')}}" onclick="w3_close()" class="w3-bar-item w3-button">About</a>
		  <a href="{{url_for('books', page_num=1)}}" onclick="w3_close()" class="w3-bar-item w3-button">Books</a>
		  <a href="{{url_for('authors', page_num=1)}}" onclick="w3_close()" class="w3-bar-item w3-button">Authors</a>
		  <a href="{{url_for('publishers', page_num=1)}}" onclick="w3_close()" class="w3-bar-item w3-button">Publishers</a>
		</nav>

		<!-- Top menu -->
		<div class="w3-top">
		  <div class="w3-light-grey w3-xlarge" style="max-width:100%;margin:auto">
			<div class="w3-container w3-button w3-padding-16 w3-left" onclick="w3_open()">☰</div>
			<div class="w3-container w3-right w3-padding-16">By Group 1</div>
			<div class="w3-padding-16">Books</div>
		  </div>
		</div>
		

		<!-- !PAGE CONTENT! -->
		<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">
			<table class="table" id="myTable"> <!-- Table tags: <table> </table> -->
				<col width="460">
				<col width="400">
				<col width="400">
				<col width="400">
				<col width="400">
				<thead>
				<tr>     <!-- Row tags: <tr> </tr> -->
				  <th onclick="sortTable(0)"><h2>Title</th>
				  <th onclick="sortTable(1)"><h2>Author</th>
				  <th onclick="sortTable(2)"><h2>Year</th> 
				  <th onclick="sortTable(3)"><h2>Summary</th> 
				  <th onclick="sortTable(4)"><h2>Publisher</th> 
		
				</tr>
				</thead>
				<tbody id="myTableBody">
				{% if books == [] %}
						<p>No books exist</p>	
				{% else %}
                    {% for i in books.items %}
				<tr>
				  <td  style="text-align:center">
						<h3>{{i.title}}</h3>
                      <img src="{{i.image}}" alt="Book" style='height:300px'>
					</div>
				  </td>
				  <td  style="text-align:center">
						<p><a href="{{url_for('authors', page_num=1)}}">{{i.author}}</a></p>
					</div>
				  </td>
				  <td  style="text-align:center">
						<p>{{i.year}}</p>
					</div>
				  </td>
				  <td  style="text-align:center">
						<p>{{i.summary}}</p>
						</div>
				  </td>
				  <td  style="text-align:center">
						<p><a href="{{url_for('publishers', page_num=1)}}">{{i.publisher}}</a></p>
					</div>
				  </td>
				  </div>
				</tr>
                    {% endfor %}
				{% endif %}
				</tbody>
			</table>
			</div>
			</div>
		<div class="w3-center w3-padding-32">
			   <ul class="w3-bar" id="myPager">
                   <a href="{{url_for('books', page_num=(books.page)-1)}}" class="w3-bar-item w3-button w3-hover-black">Previous</a>
                   {% for pages in books.iter_pages() %}
                      {% if pages %}
                      <a href="{{url_for('books', page_num=pages)}}" class="w3-bar-item w3-button w3-hover-black">{{pages}}</a>
                   
                      {% else %}
                        ...
                      {% endif %}
                   {% endfor %}
                   <a href="{{url_for('books', page_num=(books.page)+1)}}" class="w3-bar-item w3-button w3-hover-black">Next</a>
               </ul>
		<br></br>
		
		<script>
		// Script to open and close sidebar
		function w3_open() {
			document.getElementById("mySidebar").style.display = "block";
		}
			 
		function w3_close() {
			document.getElementById("mySidebar").style.display = "none";
		}
		function sortTable(n) {
		  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
		  table = document.getElementById("myTable");
		  switching = true;
		  //Set the sorting direction to ascending:
		  dir = "asc"; 
		  /*Make a loop that will continue until
		  no switching has been done:*/
		  while (switching) {
			//start by saying: no switching is done:
			switching = false;
			rows = table.rows;
			/*Loop through all table rows (except the
			first, which contains table headers):*/
			for (i = 1; i < (rows.length - 1); i++) {
			  //start by saying there should be no switching:
			  shouldSwitch = false;
			  /*Get the two elements you want to compare,
			  one from current row and one from the next:*/
			  x = rows[i].getElementsByTagName("TD")[n];
			  y = rows[i + 1].getElementsByTagName("TD")[n];
			  /*check if the two rows should switch place,
			  based on the direction, asc or desc:*/
			  if (dir == "asc") {
				if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
				  //if so, mark as a switch and break the loop:
				  shouldSwitch= true;
				  break;
				}
			  } else if (dir == "desc") {
				if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
				  //if so, mark as a switch and break the loop:
				  shouldSwitch = true;
				  break;
				}
			  }
			}
			if (shouldSwitch) {
			  /*If a switch has been marked, make the switch
			  and mark that a switch has been done:*/
			  rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
			  switching = true;
			  //Each time a switch is done, increase this count by 1:
			  switchcount ++;      
			} else {
			  /*If no switching has been done AND the direction is "asc",
			  set the direction to "desc" and run the while loop again.*/
			  if (switchcount == 0 && dir == "asc") {
				dir = "desc";
				switching = true;
			  }
			}
		  }
		}
		</script>

	</body>
</html>
