<!DOCTYPE html>
<html>
	<!-- header -->
	<head>
	<title>Project 2</title>
	<!-- CSS -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
	<!-- CSS -->
	<style>
	body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
	.w3-bar-block .w3-bar-item {padding:20px}
	</style>
	
	<br>
	<br>
	<br><br>
	<!-- Bootstrap -->
	<header class="w3-display-container w3-content w3-wide" style="max-width:2000px;min-width:500px" id="home">
		<div class="w3-container">
			<div class="w3-display-container w3-text-white">
      <img class="w3-image w3-round" src="{{url_for('static', filename='images/library.jpg')}}" alt="library" width="2000" height="800"><div class="w3-display-middle w3-xlarge w3-animate-opacity"><h1>Welcome</h1></div></img>
  </div>
</div>
	  
	</head>
	<body>
		<!-- Sidebar (hidden by default) -->
		<nav class="w3-sidebar w3-bar-block w3-card w3-top w3-xlarge w3-animate-left" style="display:none;z-index:2;width:40%;min-width:300px" id="mySidebar">
		  <a href="javascript:void(0)" onclick="w3_close()"
		  class="w3-bar-item w3-button"><h1>Close Menu</h1></a>
		  <a href="{{url_for('index')}}" onclick="w3_close()" class="w3-bar-item w3-button">Home</a>
		  <a href="{{url_for('about')}}" onclick="w3_close()" class="w3-bar-item w3-button">About</a>
          <a href="{{url_for('books', page_num=1)}}" onclick="w3_close()" class="w3-bar-item w3-button">Books</a>
		  <a href="{{url_for('authors', page_num=1)}}" onclick="w3_close()" class="w3-bar-item w3-button">Authors</a>
		  <a href="{{url_for('publishers', page_num=1)}}" onclick="w3_close()" class="w3-bar-item w3-button">Publishers</a>
		</nav>

		<!-- Top menu -->
		<div class="w3-top">
		  <div class="w3-light-grey w3-xlarge" style="max-width:100%;margin:auto">
			<div class="w3-container w3-button w3-padding-16 w3-left" onclick="w3_open()">☰</div>
			<div class="w3-container w3-right w3-padding-16">By Group 1</div>
			<div class="w3-padding-16">Welcome</div>
		  </div>
		</div>
		

		<!-- !PAGE CONTENT! -->
		<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">


		  <!-- First Photo Grid-->
		  <div class="w3-row-padding w3-padding-16 w3-center" id="food">
			<div class="w3-quarter">
              <a href="{{url_for('about')}}"><img src="{{url_for('static', filename='images/index1.JPG')}}" alt="About" style="width:100%">
			  <h2>About</h2>
			  <p>Hello, we are group 1. Click to learn more about us!</p>
			 	
			</div>
			<div class="w3-quarter">
              <a href="{{url_for('books', page_num=1)}}"><img src="{{url_for('static', filename='images/index2.JPG')}}" alt="Books" style="width:100%">
			  <h2>Books</h2>
			  <p>Click to discover insightful books</p>
			  	
			</div>
			<div class="w3-quarter">
              <a href="{{url_for('authors', page_num=1)}}"><img src="{{url_for('static', filename='images/index3.JPG')}}" alt="Authors" style="width:100%">
			  <h2>Authors</h2>
			  <p>Click to learn about some world famous authors</p>
			  
			</div>
			<div class="w3-quarter">
              <a href="{{url_for('publishers', page_num=1)}}"><img src="{{url_for('static', filename='images/index4.JPG')}}" alt="Publishers" style="width:100%">
			  <h2>Publishers</h2>
			  <p>Read about some publishing companies</p>
			  
			</div>
			</div>
		  </div>

		   <footer class="w3-row-padding w3-padding-32">
		   	<div class="w3-display-bottomleft w3-padding-large w3-opacity">
		<h1 class="w3-xxlarge">CS329E Project 2</h1>
	  </div>
	</footer>

		
		<hr>
		
		<script>
		// Script to open and close sidebar
		function w3_open() {
			document.getElementById("mySidebar").style.display = "block";
		}
			 
		function w3_close() {
			document.getElementById("mySidebar").style.display = "none";
		}
		
		</script>

	</body>
</html>
